body{
    font-family: sans-serif;
}

.navbar{
	align-items: center;
}

.navbar-header h1{
	font-family:cursive;
	font-size: 30px;
	color: white;
}
h2{
    font-family: sans-serif;
}
.port{
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.port img{
    width: 50%;
    max-width: 350px;
    height: auto;
    margin-bottom: 10px;
}
.pic{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
/* For courses */

#courses {
    padding: 50px;
  }
  
.port ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    list-style: none;
  }
  
.port ul  li {
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    font-size: 18px;
    text-align:justify;
  }
  /* Contact us for, */
  #contact {
    padding: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
  }
  
  form label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input,
  form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  form button:hover {
    background-color: #555;
  }